<a class="text-gray-500">
  {{> icons/facebook color="text-secondary" stroke="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icons/twitter color="text-secondary" stroke="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icons/instagram color="text-secondary" fill="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icons/linkedin color="text-secondary" stroke="none" size=10 viewBox="0 0 24 24" }}
</a>